:root {
    --primary-color: #78290F;
    --second-color: #15616D;
    --accent-color: #FF7D00;
    --bg-color: #FFECD1;
    --text-color: #001524;
}

.site-nav-div {
    width: 100%;
    align-content: center;
}

.site-nav-bar {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.site-nav-bar a {
    border: none;
    display: list-item;
    float: left;
    text-align: center;
    text-decoration: none;
    width: 16.666666%;
    background: var(--second-color);
}

.site-nav-bar li {
    border: solid 1px var(--text-color);
    color: var(--accent-color);
}

.site-nav-bar li>h3 {
    padding: 0;
    overflow: scroll;
    /* color: var(--text-color); */
}

.site-nav-bar a:hover,
#current {
    background: var(--accent-color);
}

.site-nav-bar a:hover h3,
#current h3{
    color: var(--text-color);
}

.social-nav-div {
    /* width: 100%; */
    align-content: center;
    padding: 1%;
}

.social-nav {
    width: 50%;
    padding: 0 25%;
}

.social-nav-bar {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.social-nav-bar>li {
    display: list-item;
    float: left;
    text-align: center;
    width: 25%;
    background: inherit;
}

.social-nav-bar>li>a {
    text-decoration: none;
}

header {
    text-align: center;
    align-content: center;
}

#github>a>img {
    width: 30px;
}

#linked-in>a>img {
    width: 30px;
}

#instagram>a>img {
    width: 30px;
}

#email>a>img {
    width: 30px;
}