/* :root {
    --primary-color: #847577;
    --second-color: #8D909B;
    --accent-color: #33AAFF;
    --bg-color: #B8BDB3;
    --text-color: #222618;
} */
/* :root {
    --primary-color: #881D1B;
    --second-color: #B68554;
    --accent-color: #6AC8C8;
    --bg-color: #F1D9D0;
    --text-color: #1F322B;
} */
/* :root {
    --primary-color: rgb(100, 30, 25);
    --second-color: rgb(57, 67, 26);
    --accent-color: rgb(200, 80, 40);
    --bg-color: rgb(209, 182, 170);
    --text-color: rgb(0, 0, 0);
    --head-color: rgb(251, 190, 225);
} */
:root {
    --primary-color: #9a0917;
    --second-color: #3e114d;
    --accent-color: #E59500;
    --bg-color: #FFECD1;
    --text-color: #02040F;
    --head-color: #20c5e6;
}

.site-nav-div {
    width: 100%;
    align-content: center;
}

.site-nav-bar {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.site-nav-bar a {
    border: none;
    display: list-item;
    float: left;
    text-align: center;
    text-decoration: none;
    width: 16.666666%;
    background: var(--second-color);
}

.site-nav-bar li {
    border: solid 1px var(--text-color);
    color: var(--accent-color);
}

.site-nav-bar li>h3 {
    padding: 0;
    overflow: scroll;
    /* color: var(--text-color); */
}

.site-nav-bar a:hover,
#current {
    background: var(--accent-color);
}

.site-nav-bar a:hover h3,
#current h3 {
    color: var(--text-color);
}

.social-nav-div {
    /* width: 100%; */
    align-content: center;
    padding: 1%;
}

.social-nav {
    width: 50%;
    padding: 0 25%;
}

.social-nav-bar {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.social-nav-bar>li {
    display: list-item;
    float: left;
    text-align: center;
    width: 25%;
    background: inherit;
}

.social-nav-bar>li>a {
    text-decoration: none;
}

header {
    text-align: center;
    align-content: center;
}

#github>a>img {
    width: 30px;
}

#linked-in>a>img {
    width: 30px;
}

#instagram>a>img {
    width: 30px;
}

#email>a>img {
    width: 30px;
}