:root {
    --primary-color: #78290F;
    --second-color: #15616D;
    --accent-color: #FF7D00;
    --bg-color: #FFECD1;
    --text-color: #001524;
    --head-color: var(--bg-color)
}

body {
    background-attachment: fixed;
    background: var(--bg-color);
    color: var(--text-color);
    align-content: center;
    margin: 0;
}

button {
    cursor: pointer;
}

#home-content {
    align-content: center;
    padding: 5%;
}

#experience-content {
    align-content: center;
    padding: 5%;
}

#education-content {
    align-content: center;
    padding: 5%;
}

#projects-content {
    align-content: center;
    padding: 5%;
}

#awards-content {
    align-content: center;
    padding: 5%;
}

#certifications-content {
    align-content: center;
    padding: 5%;
}

.contents p {
    margin: 0;
    margin-inline: 10%;
}

.greeting {
    text-align: justify;
}

.personal-pic-div {
    width: 25%;
    float: left;
    padding: 0 2% 0 0;
}

.personal-pic {
    width: 100%;
    min-width: 50px;
    border-radius: 20px;
}

footer {
    padding: 10px;
}

footer a {
    color: var(--accent-color);
}