body {
    background-attachment: fixed;
    background-image: linear-gradient(#f9f5e3, white, #f9f5e3);
    color: #143642;
    align-content: center;
    margin: 0;
}

button {
    cursor: pointer;
}

#home-content {
    /* width: 100%; */
    display: block;
    align-content: center;
    padding: 5%;
}

#experience-content {
    /* width: 100%; */
    display: none;
    align-content: center;
    padding: 5%;
}

#education-content {
    /* width: 100%; */
    display: none;
    align-content: center;
    padding: 5%;
}

#projects-content {
    /* width: 100%; */
    display: none;
    align-content: center;
    padding: 5%;
}

#awards-content {
    /* width: 100%; */
    display: none;
    align-content: center;
    padding: 5%;
}

#certifications-content {
    /* width: 100%; */
    display: none;
    align-content: center;
    padding: 5%;
}

.greeting {
    /* padding: 2%; */
    text-align: justify;
}

.personal-pic-div {
    width: 25%;
    float: left;
    padding: 0 2% 0 0;
}

.personal-pic {
    width: 100%;
    min-width: 50px;
}

footer {
    padding: 10px;
}

footer a {
    color: #0a8754;
}