:root {
    --primary-color: #78290F;
    --second-color: #15616D;
    --accent-color: #FF7D00;
    --bg-color: #ffecd1;
    --bg-subset: #ffffff7f;
    --text-color: #001524;
    --head-color: var(--bg-color)
}

/* On all pages */
body {
    background-attachment: fixed;
    background: var(--bg-color);
    color: var(--text-color);
    align-content: center;
    margin: 0;
    min-width: 300px;
}

header {
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    align-content: center;
    display: inline;
}

.contents p {
    margin: 0;
    margin-inline: 10%;
}

footer {
    padding: 10px;
}

footer a {
    color: var(--accent-color);
}

/* Home Page –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#home-content {
    align-content: center;
    padding: 20px 5%;
}

.introduction {
    display: flex;
}

.personal-pic-div {
    width: 25%;
    min-width: 100px;
    margin: auto;
}

.personal-pic {
    width: 100%;
    border-radius: 20px;
}

.greeting {
    padding: 2%;
    margin: 0 auto;
    text-align: left;
    font-size: larger;
}

.greeting p {
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .introduction {
        flex-direction: column;
    }

    .personal-pic-div {
        width: 50%;
    }

}

/* Project Page ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
#projects-content {
    margin: 0 5%;
}

.projectSection {
    display: flex;
}

hr {
    border-color: var(--primary-color);
}

.projectSection h2 {
    margin-right: auto;
}

.project {
    font-size: larger;
    background-color: var(--bg-subset);
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 0 0 5px var(--accent-color);
    margin: 20px 0;
}

.open-close {
    float: right;
}

.open-close button {
    cursor: pointer;
    background: none;
    border: none;
}

.imageDescrip {
    width: 100%;
    display: flex;
    text-align: justify;
}

.projectImage {
    width: auto;
    /* margin: 0 10px; */
    margin: auto;
    min-width: 100px;
    max-width: 400px;
    vertical-align: middle;
}

.projectImage img {
    width: 100%;
    border-radius: 10px;
    float: left;
    box-shadow: 0px 0px 10px -5px var(--text-color);
}

.shortDescription {
    width: auto;
    min-width: 96px;
}

.shortDescription p {
    margin: 0 1em;
}

.longDescription {
    display: none;
}

@media screen and (max-width: 800px) {
    .imageDescrip {
        flex-direction: column;
    }

}